<div class="bg-gray-800 p-4 shadow-lg">
  <form class="flex items-center justify-center gap-4">
    <input
      class="text-center text-gray-200 flex-1 bg-gray-700 py-3 px-6 rounded-full"
      type="text"
      placeholder="🔍 Usuário do GitHub"
      [formControl]="searchControl"
    />

    <button
      class="flex items-center justify-center bg-green-600 hover:bg-green-700 disabled:bg-red-600 text-gray-200 font-bold py-3 pc-6 rounded-full w-40 transition-all"
      [disabled]="!searchControl.value"
      type="submit"
      (click)="search($event)"
    >
      <i-feather
        name="rotate-cw"
        class="animate-spin"
        *ngIf="searchRequestStatus === 'LOADING'; else searchBtnLabel"
      ></i-feather>

      <ng-template #searchBtnLabel>
        <i-feather name="search"></i-feather>
      </ng-template>
    </button>
  </form>
</div>
